<footer id="footer">
    <div class="footer-redes">
        <i class="fab fa-instagram logo-instagram"> <a href="https://www.instagram.com/"></a></i>
        <!-- <i class="fab fa-facebook-square logo-facebook"></i> -->
        <i class="fab fa-facebook-f logo-facebook"><a href="https://www.facebook.com/"></a></i>
        <i class="fab fa-whatsapp logo-whatsapp"><a href="https://web.whatsapp.com/"></a></i>
        <i class="fab fa-tiktok logo-tiktok"><a href="https://www.tiktok.com/es/"></a></i>
    </div>
    <div class="footer-contacto">
        <h3>Dirección: <a href="https://www.google.com/maps/place/Av.+Cabildo+2895,+C1428+Cdad.+Aut%C3%B3noma+de+Buenos+Aires/@-34.5555149,-58.4647747,17z/data=!3m1!4b1!4m6!3m5!1s0x95bcb429f749f085:0xe2b5114ed44f0251!8m2!3d-34.5555193!4d-58.4621998!16s%2Fg%2F11sx2xvxqg?entry=ttu&g_ep=EgoyMDI1MDQxMy4wIKXMDSoASAFQAw%3D%3D">Av. Cabildo 2895</a></h3>
        <h3>Contacto: <a href="https://web.whatsapp.com/">+54 1122 3344</a></h3>
        <h3>Mail: <a href="https://mail.google.com/">contacto@puntogaming.com</a></h3>
    </div>
    <div class="footer-derechos">
        &copy; Todos los derechos reservados PUNTO GAMING
    </div>
</footer>