<header>
    <button id="abrirMenu" class="menu-burguer">
      <i class="fas fa-gamepad"></i>menú<i id="flechaMenu" class="fas fa-caret-square-down"></i>
    </button>
        <nav id="navbarHome" class="navbar-home">
            <ul id="menuNav" class="contenido-navbar">
                <li>
                    <a href="/" class="items-navbar" id="homeButton"><i class="fas fa-gamepad"></i>Punto Gaming</a>
                </li>
                <li>
                    <a href="/productos" class="items-navbar" id="productsButton"><i class="fas fa-lightbulb"></i>Productos</a>
                </li>
                <li>
                    <a href="#tituloFormulario" class="items-navbar" id="formButton"><i class="fas fa-newspaper"></i>Registrate</a>
                </li>
                <li>
                    <a href="#footer" class="items-navbar" id="contactButton"><i class="fas fa-mobile-alt"></i></i>Contacto</a>
                </li>               
            </ul>
        </nav>
</header>